body {
  background-color: #2d2013;
  color: white;
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #d57d1f;
  color: #d57d1f;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #d57d1f;
}

.paginationActive a {
  color: white;
  background-color: #d57d1f;
}

.paginationDisabled a {
  color: #d57d1f;
}
